<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deannebaldemor.wip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/wiplogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/wiplogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuessLandmark" />
        <activity android:name=".EnterLocation" />
        <activity android:name=".StartScreen" android:launchMode="singleTask"/>
        <activity android:name=".LandmarkInfo" />
        <activity android:name=".LandmarkPicture" />
        <activity android:name=".EnterUsername" />
        <activity android:name=".Leaderboard" />
        <activity android:name=".LandmarkComplete"></activity>
        <activity android:name=".Credits"></activity>
        <service android:name=".MusicService"/>
    </application>

</manifest>